public/
resources/_gen/
.hugo_build.lock
.obsidian
.content.bak/

/content/post/2026-06-20=AI in Biology.md

**/*IGNORE*
**/*IGNORE*/**
__pycache__/

/content/post/2026-08-25-My Thoughts on Issues with Modern Eink Devices.md