{{ define "main" }}

<main>
  <a href="/"><img src="/images/header/clean-and-simple-header.png"></a>

  {{ partial "index/introduction.html" . }}

  <div class="catalogue">
    {{ range (.Paginate .Site.RegularPages).Pages }}
    {{ .Render "summary" }}
    {{ end }}
  </div>

  {{ $paginator := .Paginator }}
  {{ if gt $paginator.TotalPages 1 }}
  <div class="pagination">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="left arrow">&#8592;</a>
    {{ end }}

    {{ range $paginator.Pagers }}
      {{ if eq . $paginator }}
      <span class="page-number current">{{ .PageNumber }}</span>
      {{ else }}
      <a href="{{ .URL }}" class="page-number">{{ .PageNumber }}</a>
      {{ end }}
    {{ end }}

    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="right arrow">&#8594;</a>
    {{ end }}
  </div>
  {{ end }}
</main>

{{ end }}
