<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h2 class="catalogue-title">{{ .Title }}</h2>
        <div class="catalogue-line"></div>

        <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
        </p>

        {{- with .Params.tags }}
        <div class="catalogue-tags">
            {{- range . }}<span class="catalogue-tag">{{ . }}</span>{{ end }}
        </div>
        {{- end }}
    </div>
</a>
